/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}

body{
    background-image: url(../img/bg.jpg);
    background-size: cover;
}

main{
    width: 50%;
    margin: 50px auto;
}


/* header */
header{
    font-size: 60px;
    font-weight: bolder;
    color: white;
    padding:40px 25%;
    background-color: #d9645999;
}



/* navigator */
nav{
    position: relative;
    height: 200px;
    background-color: #d9645970;
    border-radius: 10px;
    color: white;
    padding: 30px 10%;
    margin-bottom: 50px;
}

#arrow{
    position: absolute;
    text-decoration: none;
    font-size: 50px;
    color: white;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

#arrow:hover{
    font-size: 70px;
    padding: 59px 10px;
    background-color: #d96459;
    border-radius: 10px;
    transform: translate(0, -50%);
}

nav div:nth-child(2){
    font-size: 3.5em;
    font-weight: bold;
}

nav div:last-child{
    margin-top: 20px;
    font-size: 2.5em;
    font-weight: bold;
}



/* sezione con liste nestate */
section{
    background-color: #d9645940;
    border-radius: 10px;
    padding: 30px 10%;
    margin-bottom: 50px;
}

.l-title{
    color: #d96459;
    font-size: 2em;
    font-weight: bold;
}


/* lista principale non numerata */
ul {
  list-style: none;
  padding: 0;
}

.unordered > li:before {
  content: "\f017";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: 0;
  width: 30px;
  font-size: 25px;
  color:  #d96459;
}



/* liste numerate */
.ordered {
    width: 100%;
    margin: 20px 0;
    list-style: none;
    counter-reset: li;
}

.ordered li {
    position: relative;
    margin: 20px;
    border: 3px solid #d96459;
    padding: 15px;
    border-radius: 10px;
    background: white;
}

.ordered li:before {
    position: absolute;
    top: -10px;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-size: 16px;
    font-weight: bold;
    color: #d96459;
    background: white;
    border-radius: 50%;
    counter-increment: li;
    content: counter(li);
}



/* form section */
form{
    background-color:#d9645920;
    border-radius: 10px;
    text-align: center;
    padding: 40px;
}

#form-title{
    font-size: 2.5em;
    color: #d96459;
    font-weight: bold;
    margin-bottom: 30px;
}

input, select{
    border: 3px solid #d96459;
    border-radius: 10px;
    height: 50px;
    background: white;
    margin: 0 10px;
}

input#description{
    display: block;
    margin: 20px auto;
    border: 3px solid #d96459;
    border-radius: 10px;
    height: 50px;
    width: 80%;
    padding-left: 30px;
}

input[type="date"]{
    text-align: center;
}

input[type="time"]{
    padding-left: 10px;
}

input[type="text"]{
    padding-left: 15px;
}

input[type="button"]{
    display: block;
    margin: 40px auto 0;
    background-color: #d96459;
    color: white;
    width: 20%;
    height: 80px;
    font-size: 1.5em;
    font-weight: bold;
}

input:focus, select:focus, #description:focus{
    outline-width: 0;
    border: 3px solid #82b74b;
}


input[type="button"]:focus{
    background-color: #82b74b;
}
